.classpath
target
logs
test-output
null
selenium-tests.log
build.xml
*.log
*.iml
com/stepstone/selenium/atf-core/RELEASE/atf-core-RELEASE.jar
com/stepstone/selenium/atf-core/RELEASE/atf-core-RELEASE.pom
com/stepstone/selenium/atf-core/maven-metadata-local.xml
environment-for-eclipse.property
.gradle
*.rej
*.orig
src/test/resources/environment-for-eclipse.property
src/main/resources/environment-for-eclipse.property
out
.idea
.DS_Store
dependency-reduced-pom.xml
